/*页眉部分*/
header{
    width: 100%;
    min-width: 600px;
    height: 57px;
    background-color: #2189bf;
}
header img{
    float: left;
    margin-left: 50px;
    margin-top: 10.5px;
}
.fr{
    height: 36px;
    float: right;
    margin-right: 94px;
    margin-top: 14px;
}
.fr input[type="text"]{
    width: 280px;
    height: 28px;
    border-radius: 14px;
    border: none;
    background: #fff url(../Imgs/task08Imgs/search.png) no-repeat 18px;
    padding-left: 33px;
}
.fr input[type="submit"]{
    width: 50px;
    border: none;
    background: transparent url(../Imgs/task08Imgs/person.png) no-repeat;
    color: #fff;
    margin-left: 21px;
    text-indent: 20px; 
}
/*内容左部*/
main{
    overflow: hidden; /*为什么没有这条设置就会留白*/
    width: 1280px;
}
main aside{
    width: 261px;
    min-height: 1213px;
    background-color: #2a2e3d;
    float: left;
}
/*内容右部*/
main .mainContain{
    width: calc(100% - 261px);
    min-height: 1213px;
    background-color: #eeedec;
    float: left;
}