h1{
    text-align: center;
    font-size: 21px;
}
.flex{
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border:1px solid #ccc;
    margin: 0 auto;
}
.flex div{
    text-align: center;
    width: 148px;
    border: 1px solid #f00;
    margin-bottom: 20px;
}
.flex div:nth-child(1){
    height: 118px;
    line-height: 118px;
}
.flex div:nth-child(2){
    height: 98px;
    line-height: 98px;
}
.flex div:nth-child(3){
    height: 38px;
    line-height: 38px;
}
.flex div:nth-child(4){
    height: 198px;
    line-height: 198px;
    border: 1px solid #00f;
}

@media only screen and (max-width: 640px) {
	.flex{
	    align-items: flex-start;
	}
	.flex div:nth-child(4){
	    order: -1;
	}
}